{% extends 'base.html' %}
{% block play %}
<ul>
    {% for i in range(music_files_number) %}
    <li><a href="/{{ music_files[i] }}">{{ i+1 }} - {{ music_files[i] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}