{% extends 'base.html' %}
{% block play %}
<div class="player">
    <audio controls autoplay>
        <source src="static/music/{{ music_file }}" type="audio/mp3">
        Your browser does not support this audio format.
    </audio>
</div>
<a href="." target="_self" class="btn">Back to MP3 List</a>
{% endblock %}